@import './reset.css';

html, body {
    background-color: #303030;
    color: #FFFFFF;
}

#app {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
   font-family: 'DM Sans', 'Roboto';
   font-size: 4em;
   text-align: center;
   margin-bottom: 90px;
}
